<p>
  <%= I18n.translate("hello") %>
</p>
<p>
  <%= I18n.localize(Date.today) %>
</p>

<h2>Modelos de produtos</h2>

<%= link_to 'Cadastrar novo', new_product_model_path %>

<% if @product_models.any? %>

  <% @product_models.each do |pm| %>
    <div>
      <h3><%= pm.name %></h3>
      <dl>
        <dt><strong>SKU:</strong> <%= pm.sku %> </dt>
        <dt><strong>Fornecedor:</strong> <%= pm.supplier.brand_name %></dt>
        <dt><strong>Dimensões: </strong><%= pm.height %>cm x <%= pm.width %>cm x <%= pm.depth %>cm</dt>
        <dt><strong>Peso: </strong><%= pm.weight %>g</dt>
      </dl>
    </div>
  <% end %>

<% else %> 
  <p>Nenhum modelo de produto cadastrado.</p>
<% end %>