<p>
  <%= I18n.translate("hello") %>
</p>
<p>
  <%= I18n.localize(Date.today) %>
</p>

<h2>Modelos de produtos</h2>

<%= link_to 'Cadastrar novo', new_product_model_path %>

<% if @product_models.any? %>

  <% @product_models.each do |pm| %>
    <div>
      <h3><%= pm.name %></h3>
      <dl>
        <dt>SKU: <%= pm.sku %> </dt>
        <dt>Fornecedor: <%= pm.supplier.brand_name %></dt>
      </dl>
    </div>
  <% end %>

<% else %> 
  <p>Nenhum modelo de produto cadastrado.</p>
<% end %>