<h2><%= @product_model.name %></h2>
<dl>
  <dt><strong>Fornecedor: </strong><%= @product_model.supplier.brand_name %></dt>
  <dt><strong>SKU: </strong><%= @product_model.sku %></dt>
  <dt><strong>Dimensões: </strong><%= @product_model.height %>cm x <%= @product_model.width %>cm x <%= @product_model.depth %>cm</dt>
  <dt><strong>Peso: </strong><%= @product_model.weight %>g</dt>
</dl>