<h2><%= @product_model.name %></h2>
<dl>
  <dt>Fornecedor: <%= @product_model.supplier.brand_name %></dt>
  <dt>SKU: <%= @product_model.sku %></dt>
  <dt>Dimensões: <%= @product_model.height %>cm x <%= @product_model.width %>cm x <%= @product_model.depth %>cm</dt>
  <dt>Peso: <%= @product_model.weight %>g</dt>
</dl>