<p>
  <%= I18n.translate("hello") %>
</p>
<p>
  <%= I18n.localize(Date.today) %>
</p>
<h2>Detalhes do pedido: <%= @order.code %></h2>
  <%= render 'order', order: @order %>
<%= link_to 'Editar', edit_order_path(@order.id) %>
