<p>
  <%= I18n.translate("hello") %>
</p>
<p>
  <%= I18n.localize(Date.today) %>
</p>
<h2>Detalhes do pedido</h2>
<h3><% Order.model_name.human %> <%= @order.code %></h3>
  <%= render order %>
<% end %>

<%= link_to 'Editar', edit_order_path(@order.id) %>