<p>
  <%= I18n.translate("hello") %>
</p>
<p>
  <%= I18n.localize(Date.today) %>
</p>

<h2>Fornecedores</h2>
<div>
  <%= flash[:notice] %>
</div>
<div>
  <%= link_to('Cadastrar Fornecedor',new_supplier_path) %>
<% @supplier.each do |s| %>
  <div>
    <h3><%= link_to(s.corporate_name, supplier_path(s.id)) %></h3>
      <dl>
        <dt>Marca: <%= s.brand_name %></dt>
        <dt>Endereço: <%= s.full_address%>, <%= s.city %>, <%= s.state %></dt>
      <dl>
    </div>  
<% end %>

<% if @supplier.empty? %>
  <p> Não existem fornecedores cadastrados </p>
<% end %>
