<h1>Fornecedor <%= @supplier.corporate_name %> </h1>
<h2><%= @supplier.brand_name %></h2>
<div>
  <strong>Endereço: </strong><%= @supplier.full_address %>, <%= @supplier.city %>, <%= @supplier.state %><br>
  <strong>Email: </strong><%= @supplier.email %><br>
  <strong>CNPJ: </strong><%= @supplier.registration_number[0..1] %>.<%= @supplier.registration_number[2..4] %>.<%= @supplier.registration_number[5..7] %>/<%= @supplier.registration_number[8..11] %>-<%= @supplier.registration_number[12,13] %><br><br>
</div>

<%= link_to('Editar', edit_supplier_path(@supplier.id)) %><br><br>
<%= button_to('Remover', suppliers_path(@supplier.id), method: :delete) %><br>
<%= link_to('Voltar', suppliers_path) %>

<h2>Produtos deste fornecedor</h2>
<div>
<% if @product_models.any? %>
  <% @product_models.each do |pm| %>
      <div>
        <h3><%= pm.name %></h3>
        <dl>
          <dt>SKU: <%= pm.sku %> </dt>
          <dt>Dimensões: <%= pm.height %>cm x <%= pm.width %>cm x <%= pm.depth %>cm</dt>
        </dl>
      </div>
  <% end %>

<% else %> 
  <p>Este fornecedor não possui produtos cadastrados.</p>
<% end %>
</div>